package views

import "github.com/maslovpi/odd-character-htmx/models"

templ Description(starter models.Description) {
	if len(starter.Content) != 0 {
		<div>
			<h3>Starting equipment:</h3>
			<il>
				for _,item := range starter.Content {
					<li>
						if item.Description != "" {
							<b>{ item.Name }: </b> { item.Description }
						} else {
							<b>{ item.Name }</b>
						}
					</li>
				}
			</il>
		</div>
	}
}
