package views

templ Layout(content templ.Component) {
	<html>
		<head>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.min.js"></script>
			<link href="/css/style.css" rel="stylesheet"/>
		</head>
		<body>
			@content
		</body>
	</html>
}
